/* Reference: https://www.section.io/engineering-education/registration-form-react.js-firebase/ */
/* 
body {  

    background: #87CEEB; 
  } */
  
form {  
  
     width: 30%;  
     margin: 60px auto;  
     background: #efefef;  
     padding: 10px 60px; 
     text-align: left;  
     -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,0.1); 
     box-shadow: 2px 2px 3px rgba(0,0,0,0.1); 
     border-radius: 10px;
     font-size: large;
     margin-top: 30px;
  
     
}
button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    
  }
  button:hover {
    opacity: 0.7;
  }
label {  
    display: block;  
    position: relative;  
    margin: 40px 0px; 
    text-size-adjust: 30px;
}


input{
    height: 30px;
    width: 80%;
    float: right;
    border: 1px solid black;
    border-radius: 8px;

}